<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="yearlytable-wrapper">

            <div class="yearlytable-label-row">
              <div class=""></div>
              <div class="yearlytable-label-cell"><span>1</span></div>
              <div class="yearlytable-label-cell"><span>2</span></div>
              <div class="yearlytable-label-cell"><span>3</span></div>
              <div class="yearlytable-label-cell"><span>4</span></div>
              <div class="yearlytable-label-cell"><span>5</span></div>
              <div class="yearlytable-label-cell"><span>6</span></div>
              <div class="yearlytable-label-cell"><span>7</span></div>
              <div class="yearlytable-label-cell"><span>8</span></div>
              <div class="yearlytable-label-cell"><span>9</span></div>
              <div class="yearlytable-label-cell"><span>10</span></div>
              <div class="yearlytable-label-cell"><span>11</span></div>
              <div class="yearlytable-label-cell"><span>12</span></div>
            </div>
            <div class="yearlytable-rev-row">
              <div class="yearlytable-datatype"><span>Rev</span></div>
              <div class="yearlytable-rev-cell"><span></span></div>
              <div class="yearlytable-rev-cell"><span></span></div>
              <div class="yearlytable-rev-cell"><span></span></div>
              <div class="yearlytable-rev-cell"><span></span></div>
              <div class="yearlytable-rev-cell"><span></span></div>
              <div class="yearlytable-rev-cell"><span></span></div>
              <div class="yearlytable-rev-cell"><span></span></div>
              <div class="yearlytable-rev-cell"><span></span></div>
              <div class="yearlytable-rev-cell"><span></span></div>
              <div class="yearlytable-rev-cell"><span></span></div>
              <div class="yearlytable-rev-cell"><span></span></div>
              <div class="yearlytable-rev-cell"><span></span></div>
            </div>
            <div class="yearlytable-cos-row">
              <div class="yearlytable-datatype"><span>CoS</span></div>
              <div class="yearlytable-cos-cell"><span></span></div>
              <div class="yearlytable-cos-cell"><span></span></div>
              <div class="yearlytable-cos-cell"><span></span></div>
              <div class="yearlytable-cos-cell"><span></span></div>
              <div class="yearlytable-cos-cell"><span></span></div>
              <div class="yearlytable-cos-cell"><span></span></div>
              <div class="yearlytable-cos-cell"><span></span></div>
              <div class="yearlytable-cos-cell"><span></span></div>
              <div class="yearlytable-cos-cell"><span></span></div>
              <div class="yearlytable-cos-cell"><span></span></div>
              <div class="yearlytable-cos-cell"><span></span></div>
              <div class="yearlytable-cos-cell"><span></span></div>
            </div>
            <div class="yearlytable-gm-row">
              <div class="yearlytable-datatype"><span>GM</span></div>
              <div class="yearlytable-gm-cell"><span></span></div>
              <div class="yearlytable-gm-cell"><span></span></div>
              <div class="yearlytable-gm-cell"><span></span></div>
              <div class="yearlytable-gm-cell"><span></span></div>
              <div class="yearlytable-gm-cell"><span></span></div>
              <div class="yearlytable-gm-cell"><span></span></div>
              <div class="yearlytable-gm-cell"><span></span></div>
              <div class="yearlytable-gm-cell"><span></span></div>
              <div class="yearlytable-gm-cell"><span></span></div>
              <div class="yearlytable-gm-cell"><span></span></div>
              <div class="yearlytable-gm-cell"><span></span></div>
              <div class="yearlytable-gm-cell"><span></span></div>
            </div>
            <div class="yearlytable-revdb-row">
              <div class="yearlytable-datatype"><span>Rev DB</span></div>
              <div class="yearlytable-revdb-cell"></div>
              <div class="yearlytable-revdb-cell"></div>
              <div class="yearlytable-revdb-cell"></div>
              <div class="yearlytable-revdb-cell"></div>
              <div class="yearlytable-revdb-cell"></div>
              <div class="yearlytable-revdb-cell"></div>
              <div class="yearlytable-revdb-cell"></div>
              <div class="yearlytable-revdb-cell"></div>
              <div class="yearlytable-revdb-cell"></div>
              <div class="yearlytable-revdb-cell"></div>
              <div class="yearlytable-revdb-cell"></div>
              <div class="yearlytable-revdb-cell"></div>
            </div>
            <div class="yearlytable-cosdb-row">
              <div class="yearlytable-datatype"><span>CoS DB</span></div>
              <div class="yearlytable-cosdb-cell"></div>
              <div class="yearlytable-cosdb-cell"></div>
              <div class="yearlytable-cosdb-cell"></div>
              <div class="yearlytable-cosdb-cell"></div>
              <div class="yearlytable-cosdb-cell"></div>
              <div class="yearlytable-cosdb-cell"></div>
              <div class="yearlytable-cosdb-cell"></div>
              <div class="yearlytable-cosdb-cell"></div>
              <div class="yearlytable-cosdb-cell"></div>
              <div class="yearlytable-cosdb-cell"></div>
              <div class="yearlytable-cosdb-cell"></div>
              <div class="yearlytable-cosdb-cell"></div>
            </div>
            <div class="yearlytable-gmdb-row">
              <div class="yearlytable-datatype"><span>GM DB</span></div>
              <div class="yearlytable-gmdb-cell"></div>
              <div class="yearlytable-gmdb-cell"></div>
              <div class="yearlytable-gmdb-cell"></div>
              <div class="yearlytable-gmdb-cell"></div>
              <div class="yearlytable-gmdb-cell"></div>
              <div class="yearlytable-gmdb-cell"></div>
              <div class="yearlytable-gmdb-cell"></div>
              <div class="yearlytable-gmdb-cell"></div>
              <div class="yearlytable-gmdb-cell"></div>
              <div class="yearlytable-gmdb-cell"></div>
              <div class="yearlytable-gmdb-cell"></div>
              <div class="yearlytable-gmdb-cell"></div>
            </div>
          </div>

<div id="selector-wrapper">
    <div id="year-container"> </div>
    <div id="month-container"></div>
</div>

<div id="monthlytable-wrapper">
            <div class="monthlytable-label-row">
              <div class="monthlytable-label-cell"><span>1</span></div>
            </div>
            <div class="monthlytable-gm-row">
              <div class="monthlytable-datatype"><span>GM</span></div>
              <div class="monthlytable-gm-cell"><span></span></div>
              <div class="monthlytable-gm-cell"><span></span></div>
              <div class="monthlytable-gm-cell"><span></span></div>
            </div>
            <div class="monthlytable-rev-row">
              <div class="monthlytable-datatype"><span>Rev</span></div>
              <div class="monthlytable-rev-act"><span></span></div>
              <div class="monthlytable-rev-mom"><span></span></div>
              <div class="monthlytable-rev-yoy"><span></span></div>
            </div>
            <div class="monthlytable-cos-row">
              <div class="monthlytable-datatype"><span>CoS</span></div>
              <div class="monthlytable-cos-act"><span></span></div>
              <div class="monthlytable-cos-mom"><span></span></div>
              <div class="monthlytable-cos-yoy"><span></span></div>
            </div>
          </div>




</body>
</html>